.wrap-podcast-detail .page-detail {
  background-image: url('https://thuonggiaonline.vn/tgo-media/2022/2/13/cng-hi-phong-nh-thuy-hong-1611226138509352768211.jpg');
  /* background-image: linear-gradient(180deg, rgba(153, 0, 0, 0) -2.55%, #990000 83.5%), url(../img/item2.jpg); */
  height: 40.5625rem;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrap-box-podcast {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-transform: translateY(-140px);
  -ms-transform: translateY(-140px);
  transform: translateY(-250px);
  margin-bottom: -100px;

  background: #fff;
  border-radius: 10px;

  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
}

/*-----------all-------------*/
.wrap-detail-content .page-content-podcast {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-detail-content .page-content-podcast button:hover {
  background: rgb(0, 0, 0);
}

.wrap-detail-content .page-content-podcast button {
  background: #990000;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}
.wrap-detail-content .page-content-podcast span {
  margin-left: 10px;
}

/* .pcast-play{
  background: url(../img/) no-repeat center center;
  width: 100%;
  height: 100%;
  border: none;
  background-size: 38px;
} */

.wrap-detail-content .pcast-player button {
  background: #99000000;
  border-radius: 10px;
  color: black;
  width: 30px;
}
.wrap-detail-content .pcast-player .pcast-speed {
  width: auto;
}

.wrap-detail-content .pcast-player button .fa-volume-up {
  font-size: 20px;
}
.wrap-detail-content .pcast-player button .fa-fast-backward {
  font-size: 20px;
}
.wrap-detail-content .pcast-player button .fa-fast-forward {
  font-size: 20px;
}
.wrap-detail-content .pcast-download .fa-download {
  font-size: 20px;
}
.wrap-detail-content .pcast-player button .fa-play {
  font-size: 50px;
}
.wrap-detail-content .pcast-player button .fa-pause {
  font-size: 50px;
}
.wrap-detail-content .pcast-player button .fa-volume-off {
  font-size: 20px;
}
.pcast-player .pcast-download {
  background: transparent;
  border-radius: 10px;
  padding: 7px;
  color: black;
}

.wrap-detail-content progress {
  width: calc(100% - 1px);
}

.pcast-player-controls .timer {
  margin: 10px 2px;
}
.pcast-player-controls .pcast-currenttime {
  float: left;
}
.pcast-player-controls .pcast-duration {
  float: right;
}
.icon-play-podcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.wrap-detail-content .pcast-player progress[value]::-webkit-progress-bar {
  background-color: rgba(79, 79, 79, 0.18);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(149, 17, 17, 0.089) inset;
}
.wrap-detail-content .pcast-player progress[value]::-webkit-progress-value {
  background: #990000;
  border-radius: 5px;
}
.wrap-detail-content .pcast-player progress {
  height: 8px;
}
.gg-menu-boxed {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid;
}
.gg-menu-boxed::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 3px;
  top: 2px;
  left: 2px;
  box-shadow: 0 4px 0, 0 8px 0;
}
/*------audio---------*/
.wrap-detail-content .wrap-describe {
  display: flex;
  justify-content: center;

  padding: 5% 2%;
  margin: 10px;
}
.wrap-detail-content .wrap-describe-thumb {
  width: 30%;
  padding-right: 20px;
}
.wrap-detail-content .wrap-describe-thumb img {
  width: 100%;
}

.wrap-detail-content .wrap-describe-des .describe-cate {
  color: #696969;
  text-transform: uppercase;
  font-size: 1rem;
}
.wrap-detail-content .wrap-describe-des .describe-title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
.wrap-detail-content .wrap-describe-des .describe-sapo {
  font-size: 1rem;
  color: #696969;
  text-align: justify;
  line-height: 1.5;
}
.wrap-detail-content .wrap-box-podcast .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  flex-wrap: wrap;
}
.wrap-detail-content .wrap-box-podcast .author {
  padding: 20px 0;
  text-align: right;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px;
}
.wrap-detail-content .wrap-box-podcast .author strong {
  color: #696969;
  font-size: 0.8rem;
}
.wrap-detail-content .wrap-audio .pcast-player .pcast-player-controls {
  color: #696969;

  padding-top: 5%;
}

.model-podcast-detail .podcast-content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
}

.model-podcast {
  display: none;
  position: fixed; /* Stay in place */

  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #474e5d6d;
  padding-top: 50px;
}

.model-podcast-detail .podcast-content .box-audio-content {
  border-bottom: 1px solid rgba(178, 177, 177, 0.662);
}

.model-podcast-detail .podcast-content h1 {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
.model-podcast-detail .podcast-content .author {
  text-align: center;
  font-weight: 700;
  color: #696969;
  padding: 15px 0;
}
.model-podcast-detail .podcast-content .sapo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}
.model-podcast-detail .podcast-content .article__body {
  font-size: 1.2rem;
  line-height: 1.5;
  padding-top: 20px;
  text-align: justify;
}
.model-podcast-detail .podcast-content .article__body p {
  padding: 10px 0;
}

.model-podcast-detail .podcast-content .article__body .picture img {
  width: 100%;
}

/* .podcast-content {
  display: none;
} */
.close {
  font-size: 2rem;
  font-weight: 700;
  float: right;
  padding: 2px 15px;

  margin: -38px -38px;

  color: #fff;
  background: #696969ab;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.close:hover {
  background: #990000;
}
.gg-play-button-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
}
.gg-play-button-o::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}
.box-audio-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.box-audio-content .play-all {
  display: flex;
  justify-content: space-between;
  color: #696969;
}
.box-audio-content .play-all strong {
  margin-left: 15px;
}

.main-content {
  width: calc(100% - 200px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
}

.main-content .main-list {
  background: #9393931f;
  border-radius: 10px;

  padding: 30px;
}

.main-content .main-list .list-item {
  padding: 10px 0px;
  cursor: context-menu;
  border-bottom: 1px solid #6c757d2f;
}

.main-content .main-list .list-item strong {
  color: #990000;
}

/*------more-----------*/
.wrap-detail-more {
  padding-top: 20px;
  margin-top: 20px;
}

.wrap-detail-more .detail-more-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #6c757d;
  padding: 10px;
  color: #990000;
}
.wrap-detail-more .detail-more-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrap-detail-more .detail-more-list .item-news {
  width: 25%;
  padding: 10px;
}

.wrap-detail-more .detail-more-list .item-news .item-news-thumb img {
  width: 100%;
}

.wrap-audio-mobile {
  display: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: calc(100% - 100px);
  }
  .article-items-icon {
    padding: 20px 0px;
  }
  .model-podcast-detail .podcast-content {
    width: 90%;
  }
  .wrap-detail-content .wrap-box-podcast .contact {
    justify-content: center;
    padding: 50px 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .wrap-podcast-detail .page-detail {
    height: 20rem;
  }
  .wrap-detail-content .wrap-box-podcast .contact {
    justify-content: center;
    padding: 10px 0px;
  }
  .main-content {
    width: calc(100% - 50px);
  }
  .wrap-detail-more .detail-more-list .item-news {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 1px solid #69696950;
  }
  .wrap-detail-more .detail-more-list .item-news .item-news-thumb {
    width: 40%;
  }
  .wrap-detail-more .detail-more-list .item-news .item-news-title {
    width: 60%;
    padding-left: 10px;
    font-size: 1rem;
  }
  .text-headset {
    padding: 0px 20px;
  }

  .model-podcast-detail .podcast-content {
    margin: 0px;
  }
  .model-podcast-detail .podcast-content {
    margin: 10px;
  }
  .model-podcast-detail .podcast-content {
    width: 90%;
  }

  .wrap-detail-content .pcast-player button .fa-play {
    font-size: 30px;
  }

  .wrap-detail-content .pcast-player button .fa-pause {
    font-size: 30px;
  }
  .icon-play-podcast {
    padding: 20px 0px;
  }
  .social {
    margin: 0px;
  }
  .wrap-iframe {
    margin-left: 10px;
  }
  .wrap-detail-content .wrap-describe {
    display: row;
  }
  .icon-play-podcast .speed span {
    display: none;
  }
  .wrap-box-podcast {
    margin: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-bottom: none;
    background: none;
    border-radius: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .wrap-detail-content .wrap-describe-thumb {
    display: none;
  }
  .wrap-audio-mobile {
    display: block;
  }
  .wrap-audio {
    display: none;
  }
}
